body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f7f7f7;
}

main.container {
  min-height: 80vh;
}

.card img {
  background-color: #f2f2f2;
}
